* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;

}

.container {
    width: 250px;
}

.calculator {
    width: 100%;
    padding: 1px;
    border: none;
    border-radius: 5px;
    background-color: #464647;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.display {
    width: 100%;
    height: 80px;
    padding-right: 20px;
    font-size: 40px;
    border: none;
    background-color: #464647;
    color: #FFF;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.buttons > div {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.button {
    flex: 1 0 20%;
    padding: 15px;
    font-size: 20px;
    border: none;
    color: #FFF;
    background-color: #777677;
}

.button-zero {
    flex: 1 0 45.1%;
}

.button-divide, .button-multiply, .button-subtract, .button-add, .button-equal {
    background-color: #FF9F0A;
}

.button-clear, .button-dot {
    background-color: #585859;
}

[class*='button-']:hover { 
    opacity: 0.8;
 }

[class*='button-']:active { 
    opacity: 1;
 }